@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    font-size: 1.25rem;
    line-height: 1.87rem;
    color: #3f3f46;
    font-family: "Lato", sans-serif;
}
main .container {
    @apply mx-auto lg:max-w-3xl px-7;
}
h1 {
    @apply my-8 text-rose-700 text-center md:text-6xl sm:text-5xl text-3xl font-light lg:w-8/12 w-8/12 mx-auto md:leading-tight;
}
.subheader {
    @apply md:my-20 mt-10 mb-16 text-rose-600 text-center md:text-3xl text-2xl font-light lg:w-8/12 w-8/12 mx-auto md:leading-tight;
}
h2 {
    @apply text-rose-400 md:text-4xl text-2xl font-light lg:text-left text-center;
}
h3 {
    @apply text-rose-600 lg:text-2xl text-xl font-medium text-center;
}
p {
    @apply md:text-left text-justify md:text-xl md:font-normal text-base font-light;
    max-width: 90ch;
}
header a {
    text-decoration: none;
    @apply text-rose-500 lg:text-xl text-base font-normal hover:text-rose-700 hover:scale-110;
}
img {
    @apply rounded-lg;
}

main .container {
    @apply mx-auto lg:max-w-3xl;
}
.meetup-info ol li {
    @apply md:text-xl md:font-normal text-base font-light;
}
.meetup-info p {
    @apply mb-4;
}
.meetup-info span {
    @apply py-1 px-2 font-medium bg-rose-200 rounded-lg text-rose-700 mr-1;
}
.cardGrid {
    @apply grid lg:grid-cols-3 md:grid-cols-2 lg:gap-x-7 gap-x-4 gap-y-10 justify-items-center;
}
.card {
    @apply col-span-1 w-full flex flex-col gap-2 items-center relative rounded-lg p-4;
    border: 1px solid #e5e7eb;
}
.paginationBtn {
    @apply flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:text-gray-700;
}
.previousBtn {
    @apply flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:text-gray-700 rounded-l-lg;
}
.nextBtn {
    @apply flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:text-gray-700 rounded-r-lg;
}
.pagination button.active {
    @apply text-rose-700 hover:font-semibold;
}
