@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

* {
    font-size: 1.25rem;
    line-height: 1.87rem;
    color: #3f3f46;
    font-family: "Lato";
}

h1 {
    @apply md:my-14 mt-7 mb-3 text-rose-700 text-center md:text-6xl text-3xl font-light w-8/12 mx-auto;
}
a {
    text-decoration: none;
    @apply text-rose-600 lg:text-xl text-base font-normal hover:text-rose-700 hover:scale-110;
}
main .container {
    @apply mx-auto lg:max-w-3xl;
}
p {
    @apply md:text-left text-justify md:text-xl md:font-normal text-base font-light;
    max-width: 90ch;
}
h2 {
    @apply text-rose-400 lg:text-4xl md:text-3xl text-2xl font-light lg:text-left text-center;
}
main .container {
    @apply mx-auto lg:max-w-3xl;
}
