@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    font-size: 1.25rem;
    line-height: 1.87rem;
    color: #3f3f46;
    font-family: "Lato", sans-serif;
}
main .container {
    @apply mx-auto lg:max-w-3xl px-7;
}
h1 {
    @apply md:my-20 mt-10 mb-16 text-rose-700 text-center md:text-6xl sm:text-5xl text-3xl font-light lg:w-8/12 w-8/12 mx-auto md:leading-tight;
}
.subheader {
    @apply md:my-20 mt-10 mb-16 text-rose-600 text-center md:text-4xl text-2xl font-light lg:w-8/12 w-8/12 mx-auto md:leading-tight;
}
h2 {
    @apply text-rose-400 lg:text-4xl md:text-3xl text-2xl font-light lg:text-left text-center;
}
h3 {
    @apply text-rose-600 lg:text-2xl text-xl font-medium text-center;
}
p {
    @apply md:text-left text-justify md:text-xl md:font-normal text-base font-light;
    max-width: 90ch;
}
header a {
    text-decoration: none;
    @apply text-rose-500 lg:text-xl text-base font-normal hover:text-rose-700 hover:scale-110;
}
img {
    @apply rounded-lg;
}

main .container {
    @apply mx-auto lg:max-w-3xl;
}

ul li {
    @apply mb-2;
}
